.l-heading{
    font-size: 2rem;
    padding-top: 30px;
}
nav{
    background: none;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 1;
}

#navbar{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;

    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#navbar ul{
    display: flex;
    flex-direction: column;
}

#navbar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    visibility: visible;
    float: none;
    text-align: left;
    font-size: 16px;
}
.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    visibility: visible;
}
#navbar .closebtn{
    position: absolute;
    top:0;
    right:25px;
    font-size: 36px;
    margin-left: 50px;
    visibility: visible;
}
/* about */
