*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --green: #008000;
    --yellow: #ffcc00;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #d9d9d9; */
    background-color: #f2f2f2;
}
.container{
    max-width: 1100px;
    margin: auto;
}
#navbar ul a.current{
    color: var(--yellow);
}
.btn{
    display: inline-block;
    background: var(--green);
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    /* margin: 1rem; */
    font-size: 1.25rem;
    cursor: pointer;
}
.btn:hover{
    color: var(--yellow);
}
.p-1{
    padding: 1rem 0;
}
.p-2{
    padding: 2rem 0;
}
.p-3{
    padding: 3rem 0;
}
.py{
    padding: 8rem 0;
}
.l-heading{
    font-size: 3rem;
}
.p-heading{
    font-size: 1.25rem;
}
.h-medium{
    font-size: 2rem;
}
nav{
    background: var(--green) center center/cover;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 110px;
}
nav *{
    transition: all 0.3s ease;
}
nav.shrinked {
    height: 90px;
}
  
nav.shrinked span {
    color: var(--green);
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navbar ul{
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a
{
    text-decoration: none;
    display: inline-block;
    padding-left: 2rem;
    color: #fff;
}
#navbar h2 a
{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
#navbar ul li a:hover,
#navbar h2 a:hover{
    color: var(--yellow);
}

.closebtn{
    visibility: hidden;
    margin:0 !important;
    padding: 0 !important;
    border: 0 !important;
}
.openbtn{
    visibility: hidden;
}

/* about */
#about{
    display: flex;
    flex-direction: row;
    margin-top: 15%;
}
#about .about-info{
    height: auto;
    display: flex;
    margin: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f2f2f2;
}
.p-1{
    padding: 1rem 0;
    line-height: 1.5;
}

#slideshow > div > img{
    border-radius: 1rem;
    width: 500px;
    height: 300px;
}
#slideshow{
    margin-right: 50%;
    position: relative;
    /* width: 200px;
    height: 250px; */
    /* box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}
#slideshow > div{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

}

/* architecture and construction */
.introduction{
    text-align: center;
}
.introduction p{
    text-align: justify;
    line-height: 1.7em;
    margin: 1% 10%;
}

/* testimoinal */
.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
/* .white-heading{
    color: #ffffff;
} */
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    /* background: url(img/heading-line.png); */
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    /* background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png); */
    background: url(/media/images/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
/* .white-heading span {
    color: #ffffff;
} */
/*-----Testimonial-------*/

.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    /* background: url(img/testimonial.bg-top.png); */
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 375px;
    position: relative;
    /* background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg); */
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  /* color: #ffffff; */
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    /* color: #ffffff; */
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  /* color: #ffffff; */
  font-size: 22px;
}

.testimonial .carousel {
	padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    background-image: none;
    width: 35px;
    height: 35px;
}
.testimonial .carousel-control-next-icon::after{
    content:'>';
    font-size: 55px;
    color: black;
}
.testimonial .carousel-control-prev-icon::after{
    content:'<';
    font-size: 55px;
    color: black;
}
/* ------testimonial  close-------*/