<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    
    <title>{% block title %} {% endblock %}</title>

    {% load static %}

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href = "{% static 'css/style.css'%}" rel = "stylesheet" />
    <link href = "{% static 'css/mobile.css'%}" rel = "stylesheet" media = "screen and (max-width: 768px)" />

    {% block links %}
    {% endblock  %}
</head>

<body>
    <nav>
        <div id="navbar" class="container">
            <h2><a href="/">Pashupati Architecture and Associates</a></h2>
            <ul>
                <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'>x</a>
                <li><a class="current" href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/arc_const/">Architecture &amp; Construction</a></li>
                <li><a href="/Visualization/">Visualization</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/testimonial/">Testimonial</a></li>
            </ul>
        </div>
        <div id = 'main'>
            <button class='openbtn' onclick='openNav()'>☰</button>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script>
            function openNav(){
                document.getElementById('navbar').style.width = '250px';
                document.getElementById('main').style.visibility = 'hidden';
            }
            function closeNav(){
                document.getElementById('navbar').style.width='0';
                document.getElementById('main').style.marginLeft='0'
            }
            $(document).scroll(function(){
                if ($(this).scrollTop() > 10) { //Adjust 150
                    $('nav').addClass('shrinked');
                } else {
                    $('nav').removeClass('shrinked');
                }
            });
        </script>
</body>
