{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{%block links%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{%endblock%}
{% block content %}

    <section id="about" class="container">

        <div id = "slideshow">
            <div>
                <img src="/media/images/Amber-Heard-Sitting-in-Blue-Car-In-Drive-Angry-720x405.jpg">
            </div>
            <div>
                <img src="/media/images/smoking-marijuana-black-and-white_BYPYUTh.jpeg">
            </div>
            <div>
                <img src="/media/images/Old-man-smoking-weed.jpeg">
            </div>
        </div>

        <div class="about-info">
            <h2 class="l-heading">About</h2>
            <p class="p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur quibusdam iusto quidem! Molestiae laborum illo doloribus voluptatibus alias blanditiis quasi vitae corporis, dolore fugit beatae, dolores autem ratione. Nulla error nam veniam rerum consectetur minima consequuntur harum, magni eaque.</p>
            <a class="btn" href="/about/">See More</a>
        </div>

    </section>

    <section id="arc_const" class="py">
        <div class="introduction">
            <h2 class="l-heading">Architecture and Construction</h2>
            <p class="p-heading p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur quibusdam iusto quidem! Molestiae laborum illo doloribus voluptatibus alias blanditiis quasi vitae corporis, dolore fugit beatae, dolores autem ratione. Nulla error nam veniam rerum consectetur minima consequuntur harum, magni eaque.</p>
            <a class="btn" href="/arc_const/">See More</a>
        </div>
    </section>

    <section id="visualization" class="py">
        <div class="introduction">
            <h2 class="l-heading">Visualization</h2>
            <p class="p-heading p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur quibusdam iusto quidem! Molestiae laborum illo doloribus voluptatibus alias blanditiis quasi vitae corporis, dolore fugit beatae, dolores autem ratione. Nulla error nam veniam rerum consectetur minima consequuntur harum, magni eaque.</p>
            <a class="btn" href="/visualization/">See More</a>
        </div>
    </section>

    <section id="why_us" class="py">
        <div class="introduction">
            <h2 class="l-heading">Why Choose Us?</h2>
            <p class="p-heading p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur quibusdam iusto quidem! Molestiae laborum illo doloribus voluptatibus alias blanditiis quasi vitae corporis, dolore fugit beatae, dolores autem ratione. Nulla error nam veniam rerum consectetur minima consequuntur harum, magni eaque.</p>
        </div>
    </section>


    <section class="testimonial text-center">
        <div class="container">

            <div class="heading white-heading">
                Testimonial
            </div>
            <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
             
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 1</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 2</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 3</h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>

    <script>
        $("#slideshow > div:gt(0)").hide();

        setInterval(function(){
            $('#slideshow > div:first')
            .fadeOut(1000)
            .next()
            .fadeIn(1000)
            .end()
            .appendTo('#slideshow');
        }, 3000);
{% endblock%}